{% extends 'base_layout.html' %}

{% block content %}
<div class = "empty-task"><p> {{ emptytask }} </p></div>
<!--<p> {{ classes }} </p>
<p> {{ done }} </p>
<p> {{ classes2 }} </p>
<p> {{ tasks }} </p> -->
<div class = "Task-list"><h1>Tasks List</h1></div>
    <div class ="tasks">
        {% for task in tasks %}
            <div class = "task">
               <h4><a href="{% url 'task:detail' task.id %}">{{task.TaskName}}</a></h4>
                <p>{{task.snippet}}</p>
                <p>{{task.DueDate}}</p>
                <p class="author">{{task.author.username}}</p>
                <p>{{task.DateSet}}</p>
                <p>{{task.DateModified}}</p>
            </div>
        {% endfor %}
        </div>
<div class = "Done">
{% for don in done %}
    {% if don.Done == 'NO' %}
        <h5><a href="{% url 'task:markasdone' don.id %}">Mark as Done</a></h5>
   {% elif don.Done == 'YES' %}
        <h5><a href="{% url 'task:markasdone' don.id %}">Completed</a></h5>
    {% endif %}
{% endfor %}


</div>

{% endblock %}